.pokemon-details {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-transform: capitalize;
}

.pokemon-details h3 {
    padding: 10px;
    background-color: cadetblue;
}
a {
    color: #000;
}
.image-tile {
    background-color: #30a7d7;
    color: #fff;
    flex-direction: row;
    display: flex;
    width:100%

}
.image-tile  .pokemon-info {
    padding: 0;
    justify-content: flex-start;
    background: none;
    flex-direction: column;
    width: 25%;
    margin-top: 10px;
}
.image-tile .img {
    width:100%
}
.info{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 10px;
}
.info span{
  margin-bottom: 10px;
  display: block;
  color: #000;
}
.gameInex,.gameType,.gameStat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}
.game-index,.game-type,.game-stat {
    width: 25%;
}
.info-left h4 a{
   font-weight: 400;
}
.game-index h3,.game-type h3,.game-stat h3,.image-tile  .pokemon-info h3 {
    background: none;
    padding: 0;
    margin: 0;
}


@media screen and (max-width:768px) {
    .image-tile {
        flex-direction: column;
    }
    .game-index,.game-type,.game-stat {
        width: 50%;
    }
    .info {
        display: flex;
        flex-direction: revert;
        width: 100%;
        margin-top: 10px;
        justify-content: space-around;
    }
    .image-tile .pokemon-info{
        padding: 0;
        justify-content: space-around;
        background: none;
        flex-direction: revert;
        width: 100%;
        margin-top: 10px;
    }
    
}