

.card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-continer {
    border: 1px solid #000;
  }
  .card-continer {
    text-transform: capitalize;
  }

.card-continer img{
  max-width: 100%;
  width: 100%
}