

.searchbox {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    background-color: cadetblue;
    
  }
  .search {
    max-width: 400px;
    padding: 10px;
    border: 1px solid;
    outline: none;
  }
  
  .count {
      margin-bottom: 10px;
      display: block;
      margin-top: 10px;
  }
@media screen and (min-width:768px) {

    .search {
        width: 600px;
        padding: 10px;
        border: 1px solid;
        outline: none;
    }
    .user-activity {
        flex-direction: column;
    }

}