.pokemon-info {
    padding: 10px;
    background-color: #efefef;
    color:#000;
    text-align: left;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
  
  }
  .info-right ul {
    padding: 0;
  }
  .info-right ul li {
    padding: 2px;
  }